.articleAll {
  border: solid #f8c745;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 5px;
    padding: 20px;
    background-color: black;

  
}
.articleAll:hover {
  transform: scale(1.2); 
}
