.sectionDetail{
    height: 100vh;
  
    background-color: #f8c745;

    
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    gap: 30px
}
.articleDetail{
    height: 50vh;
    width: 85vw;
   display:flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
   padding: 20px;
//    border: black solid;
}

.artName{
    text-transform: uppercase;
height: 50px;
width: 350px;
text-align: center;
background-color: black;
   font-size: 40px;
  //       font-family: "Bebas Neue", sans-serif;
  //       font-weight: 400;
  //       font-style: normal;
                             
  font-family: 'Impacted', sans-serif;
  font-family: 'Impact', sans-serif;
font-weight:100;
color: #f8c745;
     
        
}



.articledata{
//     font-family: 'Impacted', sans-serif;
//     font-family: 'Impact', sans-serif;
//  font-weight: 25;

    
        font-family: "Bebas Neue", sans-serif;
        font-weight: 200;
        font-style: normal;
        color:#f8c745;
        background-color: black;
        padding: 5px;
    
}

.imgCharacter{
    height: 125px;
}
.infoCharacter{
    text-align:center

}
.infoTxt{

    font-family: "Bebas Neue", sans-serif;
    font-weight:lighter;
    font-style: normal;
   
    padding: 5px;
}