

.img  {
    height: 75px;
    
}
.span {
  text-decoration: none;
  color: black;
 

font-family: 'Montserrat', sans-serif;

// font-family: 'Rajdhani', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Roboto Slab', serif;
font-family: 'Foldit', sans-serif;
font-family: 'Gochi Hand', cursive;
font-family: 'Patrick Hand SC', cursive;



}


// .name {
//    text-decoration: none;
//     color: black;
    

// }

// .name {
//   position: relative;
//   display: inline-block;
//   color: black;
//   // cursor: pointer;
//   cursor: url('../../images/3.png'), auto;
// }
  
//   .crossout:hover::after {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 0;
//     right: 0;
//     border-bottom: 2px solid red; /* Puedes ajustar el color y el grosor del tachado aquí */
//     transform: translateY(50%);
//     transition: transform 0.3s;
//   }
  
//   .crossout:hover::before {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 0;
//     right: 0;
//     border-bottom: 2px solid red; /* Puedes ajustar el color y el grosor del tachado aquí */
//     transform: translateY(-50%);
//     transition: transform 0.3s;
//   }
