

.landingMain {
    height: 100vh;
    background-color: #f8c745;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
   
  
}



.landingLinkFive{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
}

.landingLinkOthers{
    text-decoration: none;
color: black;
text-transform: uppercase;
font-size: 10px;

}
.landingImg {
    width: 350px;
  border-radius: 60%;
  
 
  }
